/node_modules

# Local History VsCode extension
.history

# Build
/build

# IDE config
.vscode
.idea
*.iml

# Unit testing
/coverage

# next.js
/.next/
/dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
